/*universal element*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*element selector*/
body {
  background-color: #d9dcd6;
}
/*element selector*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*element selectors*/
header h1 {
  display: inline-block;
  font-size: 48px;
}
/*element selectors*/
header h1 .seo {
  color: #d9dcd6;
}
/*element selectors*/
header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*element selectors*/
header div ul {
  list-style-type: none;
}
/*element selectors*/
header div ul li {
  display: inline-block;
  margin-left: 25px;
}
/*element selectors*/
a {
  color: #ffffff;
  text-decoration: none;
}
/*element selectors*/
p {
  font-size: 16px;
}
/*class selector*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*class selector*/
.float-left {
  float: left;
  margin-right: 25px;
}
/*class selector*/
.float-right {
  float: right;
  margin-left: 25px;
}
/*class selector*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/*class selector*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*class selector*/
.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}
/*class selector*/
.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}
/*class selector*/
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}
/*class selector*/
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}
/*class selector*/
.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}
/*class selector*/
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}
/*class selector*/
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*class selector*/
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*class selector*/
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*class selector*/
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*class selector*/
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*class selector*/
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*class selector*/
.search-engine-optimization img {
  max-height: 200px;
}
/*class selector*/
.online-reputation-management img {
  max-height: 200px;
}
/*class selector*/
.social-media-marketing img {
  max-height: 200px;
}
/*class selector*/
.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*class selector*/
.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*class selector*/
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*semantic element selector*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*semantic element selector*/
footer h2 {
  font-size: 20px;
}
